body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    right: 20px;
    top: 20px;
}

header button:hover {
    background-color: #d32f2f;
}

main {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li span {
    flex-grow: 1;
}

li button {
    margin-left: 5px;
}

button.editTagButton,
button.deleteTagButton {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.deleteTagButton {
    background-color: #f44336;
}

button.editTagButton:hover {
    background-color: #1976D2;
}

button.deleteTagButton:hover {
    background-color: #d32f2f;
}
